.bash_history
.bash_logout
.bashrc
.config/
.docker/
.lesshst
.profile
.ssh/
.sudo_as_admin_successful
.viminfo

../.gnupg/
../.terraform.d/
../.wget-hsts
terraform/.terraform.lock.hcl
terraform/.terraform/

